.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.input {
  margin: 8px 0 32px 0;
  height: 60px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
}

.submit {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  background-color: #2f80ed;
  color: #ffffff;
}
.submit:hover {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  background-color: hsla(214, 84%, 56%, 0.7);
}

.label-checkbox {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
.checkbox-input {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #ffffff;
}

.checkbox-input:checked {
  width: 20px;
  height: 20px;
  background-color: #2f80ed;
  appearance: none;
  content: url(../images/check.svg);
  border-radius: 2px;
}
