.header {
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/background_header.svg);
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  margin: 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  /*position: relative;*/
}
.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  margin: 0;
  height: 568px;
  width: 646px;
}

.header__title {
  position: relative;
  left: 80px;
  top: 183px;
  max-width: 709px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  margin: 0;
}

.header__description {
  position: relative;
  top: 211px;
  left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
.header__footer {
  position: absolute;
  left: 80px;
  bottom: 40px;
  color: #838383;
}
.header__paragraph {
  margin: 0;
}
.header__direction {
  position: absolute;
  right: 80px;
  bottom: 40px;
  color: #838383;
}
